h1{
    color:rgb(240, 179, 179);
}
h2{
    color:rgb(58, 58, 58);
}
img{
    border-radius: 15px;
}
.heading{
    text-align: center;
}
.gc{
    color:rgb(224, 185, 57)
}
.oo{
    color:rgb(175, 95, 58)
}
.sh{
    color:rgb(206, 223, 110)
}